.Toolbar {
    height: 56px;
    width: 100%;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.Navigation {
    padding: 5px;
}

.NavigationItem {
    color: white;
    text-decoration: none;
    margin: 5px;
    font-size: 16px;
}
.active{
    color:red;
  }

