/* .Auth {
    width: 30rem;
    margin: 2rem auto;
    max-width: 80%;
    text-align: center;
  }


.Search
{
 width: 100px !important;
 padding: 5px;
 margin: 2px;
 
}
.SearchButton {
   margin: 5px;
   height: 30px !important;
} */